.available {

	background-color: $mainBg;
	@include adaptiveValue('padding-bottom', 128, 64)
}



.available__rows {

	h1 {

		@include adaptiveValue('font-size', 40, 26);
		@include adaptiveValue('padding-top', 104, 64);
		@include adaptiveValue('padding-bottom', 40, 24);
		font-weight: 700;
		line-height: 120%;
	}

	h2 {
		@include adaptiveValue('font-size', 18, 14);
		// @include adaptiveValue('padding-bottom', 400, 200);
		line-height: 140%;

	}
}

.available-subtitle {
	@include adaptiveValue('font-size', 18, 14);
	line-height: 140%;

	span {
		border-bottom: 1px dashed $mainText;
	}

}

.available-list {
	@include adaptiveValue('margin-left', 28, 14);
	@include adaptiveValue('margin-bottom', 24, 16);


	li {
		@include adaptiveValue('font-size', 18, 14);

		position: relative;
		line-height: 140%;

		&:before {
			content: '';
			position: absolute;
			@include adaptiveValue('width', 6, 3);
			@include adaptiveValue('height', 6, 3);
			@include adaptiveValue('left', -14, -7);
			@include adaptiveValue('top', 10, 7.5);
			top: 10px;
			border-radius: 50%;
			background-color: $mainText;


		}
	}
}

.available-accor-height {
	max-height: 1000px;
}

.available-accor {


	transition-duration: .5s;
}
