#arrow-bread {
	path {
		stroke: $textGrey;
	}

	@include adaptiveValue('margin-right', 30, 12);

}

.crumbs {
	padding-top: 5px;
	padding-bottom: 5px;

	&__container {
		height: 100%;
	}

	background-color: #fff;
	@include adaptiveValue('min-height', 32, 24);

	&__rows {
		display: flex;
		white-space: nowrap;
		flex-wrap: wrap;
		align-items: center;
		height: 100%;



	}

	&__title-last {

		@include adaptiveValue('margin-right', 30, 12);
	}

	&__title-root {
		@include adaptiveValue('margin-right', 30, 12);


	}

	&__title-current {
		a {
			font-size: rem(12);
			color: $mainTif;
		}

	}

}

.crumbs-link {
	h3 {}

	font-size: 12px;

	color: $textGrey;

}

.bread-arrow-wrap {
	display: none;
}

@media screen and (max-width: 576px) {
	.bread-arrow-wrap {
		display: inline;
	}
}
