#arrow-bread {
	path {
		stroke: $textGrey;
	}

	@include adaptiveValue('margin-right', 30, 12);

}

.crumbs {

	&__container {
		height: 100%;
	}

	background-color: #fff;
	@include adaptiveValue('height', 32, 24);

	&__rows {
		display: flex;
		white-space: nowrap;
		flex-wrap: wrap;
		align-items: center;
		height: 100%;



	}

	&__title-root {
		@include adaptiveValue('margin-right', 30, 12);

		a {
			font-size: rem(12);
			color: $textGrey;


		}

	}

	&__title-current {
		a {
			font-size: rem(12);
			color: $mainTif;
		}

	}

}

.bread-arrow-wrap {
	display: none;
}

@media screen and (max-width: 576px) {
	.bread-arrow-wrap {
		display: inline;
	}
}
