.documents {
	@include adaptiveValue('padding-bottom', 104, 64)
}

.documents__rows {
	h1 {

		@include adaptiveValue('font-size', 40, 26);
		@include adaptiveValue('margin-top', 104, 64);
		@include adaptiveValue('margin-bottom', 40, 24);
		font-weight: 700;
		line-height: 120%;
	}

	h2 {
		@include adaptiveValue('font-size', 18, 14);
		margin-bottom: rem(24);
		line-height: 140%;
		transition: transform .3s ease-in-out;

		&:hover {
			transform: translateX(5px);
		}

		a {
			transition: transform .3s ease-in-out;

		}

		&:hover {
			a {

				color: $mainTif;
			}
		}

	}
}

.download-file {}

.download-link-keeper {
	margin-left: 32px;

	// position: relative;
}

.documents-list {
	li {
		h2 {

			// margin-left: 12px;
		}

		position: relative;
	}
}

#doc {
	position: absolute;
	top: -3px;
	left: 0;


}

.doc-color-brown {
	path {
		stroke: transparent;
		fill: #A9E44D;
	}
	circle {
		fill: #A9E44D;
	}
}

.doc-color-vanilla {
	path {
		stroke: transparent;
		fill: #4D4B43;
	}
	circle {
		fill: #4D4B43;
	}
}

.doc-color-blue {
	path {
		stroke: transparent;
		fill: #25282B;
	}
	circle {
		fill: #25282B;
	}
}

.doc-color-white {
	path {
		stroke: transparent;
		fill: #000;
	}
	circle {
		fill: #000;
	}
}

.doc-color-black {
	path {
		stroke: transparent;
		fill: #fff;
	}
	circle {
		fill: #fff;
	}
}

@media (orientation: landscape) and (max-height: 500px) {
	.documents__rows {
		h2 {
			margin-bottom: 150px;
		}
	}
}
