.education-standarts {}

.education-standarts__container {}

.education-standarts__rows {
	padding-right: 15px;

	ul {

		@include adaptiveValue('margin-bottom', 420, 180);
	}

	#doc {
		// @include adaptiveValue("top", -5px, 0px);
		top: 1px;
	}

	h1 {

		@include adaptiveValue('font-size', 40, 26);
		@include adaptiveValue('margin-top', 104, 64);
		@include adaptiveValue('margin-bottom', 40, 24);
		font-weight: 700;
		line-height: 120%;
	}

	h2 {
		@include adaptiveValue('font-size', 18, 14);
		@include adaptiveValue('margin-bottom', 30, 30);
		line-height: 140%;

	}
}
