.education {
	@include adaptiveValue('padding-top', 104, 64);
	@include adaptiveValue('padding-bottom', 104, 64);


}

.education__rows {
	h1 {

		@include adaptiveValue('font-size', 40, 26);
		@include adaptiveValue('margin-bottom', 40, 24);
		font-weight: 700;
		line-height: 120%;
	}

	h2 {
		@include adaptiveValue('font-size', 32, 22);
		@include adaptiveValue('margin-bottom', 40, 40);
		font-weight: 700;
		line-height: 120%;
	}

	h2[data-miniH2] {
		@include adaptiveValue('font-size', 24, 20);
		@include adaptiveValue('margin-bottom', 24, 20);

	}

	// a {
	// 	display: inline-block;
	// 	color: $mainTif;
	// }


	.box-chart {
		@include adaptiveValue('margin-bottom', 24, 16);
		transition-duration: .2s;
		line-height: math.div(20, 14);


	}

	.box-holder-chart {}

	.box-chart2 {
		@include adaptiveValue('margin-bottom', 30, 24);

	}

	.chart {
		@include adaptiveValue('font-size', 18, 14);
		position: relative;
		transition-duration: .2s;

	}
}

.education-tables__table {
	background-color: rgba(255, 255, 255, .5);
	display: flex;
	flex-direction: column;
	border: 1px solid $borderTif;
	@include adaptiveValue('padding', 16, 12);
	border-radius: 20px;
}

.education-tables__titles,
.education-tables__row-1,
.education-tables__row-2 {
	width: 100%;


	display: flex;
	justify-content: space-between;

}

.education-tables__titles {
	@include adaptiveValue('padding-bottom', 16, 6);
	@include adaptiveValue('padding-bottom', 16, 6);
	border-bottom: 1px solid $borderTif;



	h3 {
		&:not(:first-child) {
			border-left: 1px solid $borderTif;
			@include adaptiveValue('padding-left', 16, 6);

		}

		@include adaptiveValue('padding-right', 16, 6);

	}
}

.education-tables-border-left {

	border-left: 1px solid $borderTif;
	@include adaptiveValue('padding-left', 16, 6);


}

.education-tables__row-1 {
	@include adaptiveValue('padding-top', 16, 6);
	@include adaptiveValue('padding-bottom', 16, 6);


	border-bottom: 1px solid $borderTif;

	h3 {
		&:not(:first-child) {
			border-left: 1px solid $borderTif;
			@include adaptiveValue('padding-left', 16, 6);


		}

		@include adaptiveValue('padding-right', 16, 6);

	}
}

.education-tables__row-2 {
	@include adaptiveValue('padding-top', 16, 16);


	h3 {


		&:not(:first-child) {
			border-left: 1px solid $borderTif;
			@include adaptiveValue('padding-left', 16, 6);
		}

		@include adaptiveValue('padding-right', 16, 6);
	}
}

.first-tables {
	@include adaptiveValue('margin-bottom', 104, 64);

}


.ourWidth-education {
	@include adaptiveValue('font-size', 18, 12);
	// word-wrap: break-word;
	width: 100%;

	span {
		font-weight: 700;
	}

}

.educationProgBr {
	display: none;
}



.release-proggrams-table {
	@include adaptiveValue('padding-bottom', 16, 8);

}

.table-quarter,
.table-period {
	@include adaptiveValue('margin-bottom', 40, 40);

}

.table-prog {
	@include adaptiveValue('margin-bottom', 8, 8);

}

.aside-comment {
	@include adaptiveValue('margin-bottom', 32, 24);

}

.education-download {
	font-weight: 400;



}

@media screen and (max-width: 755px) {
	.educationProgBr {
		display: block;
	}

	// #doc-edu {
	// 	position: absolute;
	// 	@include adaptiveValue('left', -26, -20);
	// 	top: 20%;
	// }

}


//======================================//======================================//======================================//======================================//======================================//======================================//======================================
.btn-education-accor {
	@include adaptiveValue('height', 90, 70);
	@include adaptiveValue('font-size', 24, 14);
	position: relative;
	background-color: #fff;
	font-weight: 700;
	width: 100%;
	border-radius: 20px;
	transition-duration: .5s;



	svg {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		@include adaptiveValue('right', 36, 20);

		right: 0;
	}


}


#arrow-education {
	transition: all 0.4s ease;

}


.education-list-accor {
	@include adaptiveValue('margin-left', 31, 24);


}


.box-content-accor {
	margin-top: -20px;
	overflow: hidden;
	@include adaptiveValue('padding-bottom', 18, 14);
	@include adaptiveValue('padding-top', 24, 24);
	@include adaptiveValue('padding-right', 24, 24);
	background-color: white;
	border-radius: 0 0 20px 20px;
	transform: translateY(0, -98%);


}

.education-accor {
	overflow: hidden;
	max-height: 0px;
	transition: all .4s ease;


}

.education-accor-active {
	max-height: 1700px;
	transition-duration: .7s;

}


.educationContentAccor {
	transform: translateY(0, 0px);

}




.btn-education-title-box {
	@include adaptiveValue('padding-left', 28, 16);
	display: flex;
	text-align: left;
	width: 95%;

}

#arrow-education {
	@include adaptiveValue('width', 27, 12);
	@include adaptiveValue('height', 14, 6);
}

.download-link-keeper {
	padding-left: 8px;
}

.doc-education-list {
	@include adaptiveValue('margin-left', 26, 18);

}

.documents-list {

	li {


		h2 {
			font-weight: 400;
			transition-duration: .2s;
			@include adaptiveValue('font-size', 18, 14);
			@include adaptiveValue('margin-bottom', 24, 14);

			&:hover {
				transform: translateX(10px);
			}

			a {
				transition-duration: .2s;

			}

			&:hover {
				a {

					color: $mainTif;
				}
			}
		}
	}
}


.education-accor {

	transition: all .3s;


	&:not(:last-child) {
		margin-bottom: rem(24);
	}

	&:not(:first-child) {
		margin-bottom: rem(15);
	}
}



.license-education-link {
	font-weight: 400;
	@include adaptiveValue('font-size', 18, 14);
	margin-left: 0px;
	color: $mainTif;
	border-bottom: 1px solid $mainTif;
}

.license-education-link-box {
	margin-left: 0;
	padding-left: 0;
}


//================================//================================//================================//================================//================================//================================//================================


.prog-table {
	border: 1px solid $borderTif;
	border-radius: 20px;
	background-color: #fff;
	@include adaptiveValue('padding', 16, 8);
	@include adaptiveValue('margin-top', 40, 8);
	@include adaptiveValue('font-size', 18, 12);
	line-height: 140%;
}

.prog-table-box {
	display: grid;
	grid-template-columns: .4fr 1fr .4fr;
	grid-template-rows: .1fr 1fr .1fr;

}


.prog-level {
	grid-row: 1/2;
	grid-column: 1/2;
	border-bottom: 1px solid $borderTif;
	@include adaptiveValue('padding-bottom', 16, 8);
	font-weight: 700;
}


.prog-profile {
	position: relative;
	@include adaptiveValue('padding-left', 16, 8);



	grid-row: 1/2;
	grid-column: 2/3;
	border-bottom: 1px solid $borderTif;
	font-weight: 700;
}


.prog-hours {
	@include adaptiveValue('padding-left', 16, 8);
	@include adaptiveValue('padding-bottom', 16, 8);

	position: relative;



	grid-row: 1/2;
	grid-column: 3/4;
	border-bottom: 1px solid $borderTif;
	font-weight: 700;
}

.prog-profile-pseudo-before {
	&:before {
		content: '';
		position: absolute;
		width: 1px;
		left: 0px;
		top: 0%;
		height: 80%;
		background-color: $borderTif;
	}
}

.prog-profile-pseudo-before-blue {
	&:before {
		content: '';
		position: absolute;
		width: 1px;
		left: 0px;
		top: 0%;
		height: 80%;
		background-color: #25282B;
	}
}

.prog-profile-pseudo-before-brown {
	&:before {
		content: '';
		position: absolute;
		width: 1px;
		left: 0px;
		top: 0%;
		height: 80%;
		background-color: #A9E44D;
	}
}

.prog-profile-pseudo-before-vanilla {
	&:before {
		content: '';
		position: absolute;
		width: 1px;
		left: 0px;
		top: 0%;
		height: 80%;
		background-color: #A9E44D;
	}
}

.prog-profile-pseudo-before-black {
	&:before {
		content: '';
		position: absolute;
		width: 1px;
		left: 0px;
		top: 0%;
		height: 80%;
		background-color: #ffffff;
	}
}

.prog-profile-pseudo-before-white {
	&:before {
		content: '';
		position: absolute;
		width: 1px;
		left: 0px;
		top: 0%;
		height: 80%;
		background-color: #000000;
	}
}

.prog-main-education {
	grid-row: 2/3;
	grid-column: 1/2;
	@include adaptiveValue('padding-top', 16, 8);
	@include adaptiveValue('padding-bottom', 16, 8);
	@include adaptiveValue('padding-right', 16, 8);


}


.prog-middle-education {
	grid-row: 3/4;
	grid-column: 1/2;
	border-top: 1px solid $borderTif;
	@include adaptiveValue('padding-top', 16, 8);
	@include adaptiveValue('padding-right', 16, 8);


}

.prog-top-list {
	grid-row: 2/3;
	grid-column: 2/3;
	@include adaptiveValue('padding', 16, 8);
	border-left: 1px solid $borderTif;

	li {
		&:not(:last-child) {
			@include adaptiveValue('padding-bottom', 8, 8);

			border-bottom: 1px solid $borderTif;

		}

		&:not(:first-child) {
			@include adaptiveValue('padding-top', 8, 8);

		}
	}


}


.prog-bottom-list {
	@include adaptiveValue('padding-right', 16, 8);
	@include adaptiveValue('padding-left', 16, 8);
	@include adaptiveValue('padding-top', 16, 8);
	grid-row: 3/4;
	grid-column: 2/3;
	border-left: 1px solid $borderTif;
	border-top: 1px solid $borderTif;


	li {
		&:not(:last-child) {
			@include adaptiveValue('padding-bottom', 8, 8);
			border-bottom: 1px solid $borderTif;


		}

		&:not(:first-child) {
			@include adaptiveValue('padding-top', 8, 8);

		}
	}

}


.prog-top-hours {
	@include adaptiveValue('padding-top', 16, 8);
	@include adaptiveValue('padding-bottom', 16, 8);
	@include adaptiveValue('padding-left', 16, 8);
	grid-row: 2/3;
	grid-column: 3/4;

	li {
		position: relative;



		&:not(:last-child) {
			@include adaptiveValue('padding-bottom', 8, 8);
			border-bottom: 1px solid $borderTif;


		}

		&:not(:first-child) {
			@include adaptiveValue('padding-top', 8, 8);

		}
	}
}


.prog-bottom-hours {

	grid-row: 3/4;
	grid-column: 3/4;
	border-top: 1px solid $borderTif;
	@include adaptiveValue('padding-top', 16, 8);
	@include adaptiveValue('padding-left', 16, 8);


	li {
		position: relative;



		&:not(:last-child) {
			@include adaptiveValue('padding-bottom', 8, 8);
			border-bottom: 1px solid $borderTif;


		}

		&:not(:first-child) {
			@include adaptiveValue('padding-top', 8, 8);

		}
	}



}


.prog-top-hours-pseudo-before {
	&:before {
		@include adaptiveValue('left', -16, -8);
		content: '';
		position: absolute;
		width: 1px;
		height: 80%;

		top: 10%;
		background-color: $borderTif;
	}
}

.prog-top-hours-pseudo-before-blue {
	&:before {
		@include adaptiveValue('left', -16, -8);
		content: '';
		position: absolute;
		width: 1px;
		height: 80%;

		top: 10%;
		background-color: #25282B;
	}
}

.prog-top-hours-pseudo-before-vanilla {
	&:before {
		@include adaptiveValue('left', -16, -8);
		content: '';
		position: absolute;
		width: 1px;
		height: 80%;

		top: 10%;
		background-color: #4D4B43;
	}
}

.prog-top-hours-pseudo-before-brown {
	&:before {
		@include adaptiveValue('left', -16, -8);
		content: '';
		position: absolute;
		width: 1px;
		height: 80%;

		top: 10%;
		background-color: #A9E44D;
	}
}

.prog-top-hours-pseudo-before-black {
	&:before {
		@include adaptiveValue('left', -16, -8);
		content: '';
		position: absolute;
		width: 1px;
		height: 80%;

		top: 10%;
		background-color: #ffffff;
	}
}

.prog-top-hours-pseudo-before-white {
	&:before {
		@include adaptiveValue('left', -16, -8);
		content: '';
		position: absolute;
		width: 1px;
		height: 80%;

		top: 10%;
		background-color: #000000;
	}
}



@media screen and (max-width: 576px) {
	.hide-table {
		display: none;
	}
}

.quarter-mobile {
	display: none;
	border: 1px solid $borderTif;
	border-radius: 20px;
	@include adaptiveValue('padding', 16, 16);
	background-color: #fff;
	@include adaptiveValue('margin-bottom', 40, 24);
	@include adaptiveValue('font-size', 18, 12);
}

@media screen and (max-width: 576px) {
	.quarter-mobile {
		display: block;
	}

	// #doc-edu {
	// 	position: absolute;
	// 	@include adaptiveValue('left', -26, -20);
	// 	top: 0%;
	// }

}

.quarter-mobile-box {
	display: grid;
	grid-template-columns: .5fr 1fr;
	grid-template-rows: .1fr repeat(2, 1fr);

}

.quarter-mobile-box__title-classes {
	@include adaptiveValue('padding-bottom', 16, 8);
	@include adaptiveValue('padding-top', 16, 12);
	font-weight: 700;
	border-bottom: 1px solid $borderTif;


}

.quarter-mobile-box__select {
	grid-row: 1/2;
	grid-column: 2/3;
	@include adaptiveValue('padding-bottom', 16, 8);
	border-bottom: 1px solid $borderTif;
	position: relative;



}

.quarter-mobile-box__select-pseudo-before {
	&:before {
		content: '';
		@include adaptiveValue('left', -16, -12);
		top: 10%;
		height: 80%;
		width: 1px;
		position: absolute;
		background-color: $borderTif;
	}
}



.quarter-mobile-box__classes-jun {
	grid-row: 2/3;
	grid-column: 1/2;
	@include adaptiveValue('padding-bottom', 16, 8);
	@include adaptiveValue('padding-top', 16, 8);
	border-bottom: 1px solid $borderTif;


}

.quarter-mobile-box__classes-sin {
	grid-row: 3/4;
	grid-column: 1/2;
	@include adaptiveValue('padding-top', 16, 8);

}

.quarter-mobile-box__classes-output-jun {
	grid-row: 2/3;
	grid-column: 2/3;
	@include adaptiveValue('padding-bottom', 16, 8);
	@include adaptiveValue('padding-top', 16, 8);
	border-bottom: 1px solid $borderTif;
	position: relative;

	&:before {
		content: '';
		@include adaptiveValue('left', -16, -12);
		top: 10%;
		height: 80%;
		width: 1px;
		position: absolute;
		background-color: $borderTif;
	}

}

.quarter-mobile-box__classes-output-sin {
	grid-row: 3/4;
	grid-column: 2/3;
	@include adaptiveValue('padding-top', 16, 8);
	position: relative;

	&:before {
		content: '';
		@include adaptiveValue('left', -16, -12);
		top: 10%;
		height: 80%;
		width: 1px;
		position: absolute;
		background-color: $borderTif;
	}
}

#arrow-select {
	position: absolute;
	right: 8px;
	top: 40%;
	// transform: translateY(-50%);
	transition-duration: .4s;
	z-index: 7;
}

.arrow-select-rotate {
	transform: rotate(90deg);
}





.quarter-mobile-box__select {
	position: relative;
}

.button-select {
	@include adaptiveValue('width', 260, 170);
	@include adaptiveValue('font-size', 14, 12);
	padding-left: 16px;
	border-radius: 10px 10px 10px 10px;
	border: 1px solid #C9C8D3;
	background-color: #fff;
	text-align-last: left;
	font-weight: 700;
	height: rem(36);
	position: relative;
	z-index: 5;

}

.quarter-mobile-box__container {
	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
	@include adaptiveValue('width', 256, 168);
	@include adaptiveValue('top', 10, 25);
	@include adaptiveValue('left', 0, 0);

	position: absolute;
	border: 1px solid #C9C8D3;
	border-top: 1px solid #C9C8D3;
	border-radius: 0 0 10px 10px;
	background-color: #fff;
	max-height: 0px;
	transition-duration: .5s;
	z-index: 4;




	-webkit-box-shadow: 0px 27px 35px -24px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 27px 35px -24px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 27px 35px -24px rgba(34, 60, 80, 0.2);

}

.quarter-mobile-box__content {



	ul {
		@include adaptiveValue('padding-top', 16, 6);

		@include adaptiveValue('font-size', 14, 12);

		li {

			cursor: pointer;
			@include adaptiveValue('padding-left', 16, 12);

			@include adaptiveValue('padding-bottom', 8, 6);

			&:not(:last-child) {
				border-bottom: 1px solid #C9C8D3;
			}



			@include adaptiveValue('padding-top', 8, 6);
		}
	}

}

.quarter-active-btn {
	max-height: 400px;
	transform: translateY(0px);
	border-radius: 10px 10px 0px 0px;

}

.quarter-active {
	transition-duration: 1s;

	max-height: 400px;
	transform: translateY(0px);

}


#doc-edu {
	position: absolute;
	@include adaptiveValue('left', -26, -20);
	@include adaptiveValue('top', -5px, 0px);
}

.edu-graph-li {
	@include adaptiveValue('margin-left', 12, 8);

}


.btn-education-radio {
	border-radius: 10px 10px 0px 0px;
	background-color: #fff;
	// transition: all 0s ease;

}

.quarter-mobile-box__select-pseudo-before-blue {
	&:before {
		content: '';
		@include adaptiveValue('left', -16, -12);
		top: 10%;
		height: 80%;
		width: 1px;
		position: absolute;
		background-color: #25282B;
	}
}

.quarter-mobile-box__select-pseudo-before-brown {
	&:before {
		content: '';
		@include adaptiveValue('left', -16, -12);
		top: 10%;
		height: 80%;
		width: 1px;
		position: absolute;
		background-color: #A9E44D;
	}
}

.quarter-mobile-box__select-pseudo-before-vanilla {
	&:before {
		content: '';
		@include adaptiveValue('left', -16, -12);
		top: 10%;
		height: 80%;
		width: 1px;
		position: absolute;
		background-color: #4D4B43;
	}
}

.quarter-mobile-box__select-pseudo-before-black {
	&:before {
		content: '';
		@include adaptiveValue('left', -16, -12);
		top: 10%;
		height: 80%;
		width: 1px;
		position: absolute;
		background-color: #ffffff;
	}
}

.quarter-mobile-box__select-pseudo-before-white {
	&:before {
		content: '';
		@include adaptiveValue('left', -16, -12);
		top: 10%;
		height: 80%;
		width: 1px;
		position: absolute;
		background-color: #000000;
	}
}
