body {}



.paid__container {}

.paid__rows {
	h1 {

		@include adaptiveValue('font-size', 40, 26);
		@include adaptiveValue('margin-bottom', 40, 24);
		font-weight: 700;
		line-height: 120%;
	}

	@include adaptiveValue('margin-bottom', 400, 200);

	h2 {
		@include adaptiveValue('font-size', 18, 14);
		line-height: 140%;

	}
}

.minjust {
	display: inline-block;
	border-bottom: 1px solid #000;
}

@media (orientation: landscape) and (max-height: 500px) {
	.paid__rows {
		margin-bottom: 150px;

	}
}
