.main-info {
	background-color: $mainBg;
	@include adaptiveValue('padding-bottom', 104, 64);

}

.main-info__container {}

.main-info__rows {



	h1 {
		@include adaptiveValue('font-size', 40, 26);
		@include adaptiveValue('padding-top', 104, 64);
		@include adaptiveValue('margin-bottom', 40, 24);
		font-weight: 700;
		line-height: 120%;
	}

	h2 {

		@include adaptiveValue('font-size', 18, 14);
		@include adaptiveValue('margin-bottom', 16, 12);
		line-height: math.div(25, 18);

		a {
			display: inline-block;
			border-bottom: 1px solid $mainTif;
			color: $mainTif;
		}

		span {
			font-weight: 700;

		}

	}

	.mode-title {
		@include adaptiveValue('margin-top', 40, 24)
	}
}


.main-info-table {
	background-color: #fff;
	width: 60%;
	border: 1px solid $borderTif;
	border-radius: 10px;
}


.main-table-box {
	line-height: 140%;
	display: grid;
	grid-template-columns: 1fr .5fr;
	grid-template-rows: repeat(2, 1fr);
	@include adaptiveValue('padding-left', 16, 12);
	@include adaptiveValue('padding-right', 16, 12);

}

.main-table-item {
	@include adaptiveValue('padding-top', 16, 12);
	@include adaptiveValue('padding-bottom', 16, 12);





}

.main-table-item-border-bottom {
	border-bottom: 1px solid $borderTif;
}



.main-table-box__table-prop-1 {
	@include adaptiveValue('padding-left', 24, 12);

}


.main-table-box__table-prop-2 {
	@include adaptiveValue('padding-left', 24, 12);

}


.main-table-box__table-prop-3 {
	@include adaptiveValue('padding-left', 24, 12);

}

.main-table-box__table-title-1,
.main-table-box__table-title-2,
.main-table-box__table-title-3 {
	@include adaptiveValue('padding-right', 16, 12);

}

.main-table-box__table-prop-1,
.main-table-box__table-prop-2,
.main-table-box__table-prop-3 {
	position: relative;

	&:before {
		content: '';
		background-color: $borderTif;
		position: absolute;
		height: 80%;
		width: 1px;
		left: 0;
		top: 10%;

	}

}

@media screen and (max-width: 991px) {
	.main-info-table {
		width: 80%;

	}
}

@media screen and (max-width: 768px) {
	.main-info-table {
		width: 100%;

	}
}
