.MTO {

	@include adaptiveValue('padding-bottom', 128, 64)
}


.MTO__rows {

	h1 {

		@include adaptiveValue('font-size', 40, 26);
		@include adaptiveValue('padding-top', 104, 64);
		@include adaptiveValue('padding-bottom', 40, 24);
		font-weight: 700;
		line-height: 120%;
	}

	h2 {
		@include adaptiveValue('font-size', 18, 14);
		line-height: 140%;

	}
}

.MTO-subtitle {
	@include adaptiveValue('padding-left', 28, 16);
	// @include adaptiveValue('padding-bottom', 24, 16);
	@include adaptiveValue('font-size', 18, 12);
	@include adaptiveValue('margin-bottom', 20, 14);






	padding-left: 20px;
	line-height: 140%;
	width: 85%;

}



.mto-table {
	@include adaptiveValue('padding-top', 20, 8);
	@include adaptiveValue('padding-right', 28, 16);
	@include adaptiveValue('padding-bottom', 24, 12);
	@include adaptiveValue('margin-left', 24, 16);
	@include adaptiveValue('padding-left', 16, 16);
	overflow-x: auto;
	border: 1px solid $borderTif;
	border-radius: 10px;

	&__box {

		h3 {
			@include adaptiveValue('font-size', 18, 12);

			margin-top: 8px;
			padding-top: 4px;
			padding-bottom: 4px;
			margin-bottom: 8px;
			line-height: 140%;

		}

		display: grid;
		grid-template-columns: 1fr .2fr;
		grid-template-rows: .4fr;
		grid-auto-rows: repeat(13, 1fr);
	}
}

.mto-table__first-title {
	grid-column: 1/2;
	border-bottom: 1px solid $borderTif;
}

.btn-education-title-box {
	h4 {
		padding-right: 10%;
		@include adaptiveValue('font-size', 24, 12)
	}
}


.mto-table__second-title {
	grid-column: 2/3;
	border-bottom: 1px solid $borderTif;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		left: -16px;
		top: 10%;
		height: 80%;
		width: 1px;
		background-color: $borderTif;
	}

}

.mto-mini-accor {
	// max-height: 0px;
	max-height: 1700px;
	transition: transform 1s ease;
}

.mto-table__box {
	max-height: 1700px;
}

.mto-table-item {
	h3 {
		width: 90%;
	}

	border-bottom: 1px solid $borderTif;


}


.mto-table__main-safe {
	border-bottom: 0px solid rgba(0, 0, 0, 0);
}

.mto-count {
	position: relative;





}

.mto-count-pdeudo-before {
	&:before {
		content: '';
		position: absolute;
		left: -16px;
		top: 10%;
		height: 80%;
		width: 1px;
		background-color: $borderTif;
	}
}

.mto-count-pdeudo-before-blue {
	&:before {
		content: '';
		position: absolute;
		left: -16px;
		top: 10%;
		height: 80%;
		width: 1px;
		background-color: #25282B;
	}
}

.mto-count-pdeudo-before-brown {
	&:before {
		content: '';
		position: absolute;
		left: -16px;
		top: 10%;
		height: 80%;
		width: 1px;
		background-color: #A9E44D;
	}
}
.mto-count-pdeudo-before-vanilla {
	&:before {
		content: '';
		position: absolute;
		left: -16px;
		top: 10%;
		height: 80%;
		width: 1px;
		background-color: #4D4B43;
	}
}
.mto-count-pdeudo-before-black {
	&:before {
		content: '';
		position: absolute;
		left: -16px;
		top: 10%;
		height: 80%;
		width: 1px;
		background-color: #ffffff;
	}
}
.mto-count-pdeudo-before-white {
	&:before {
		content: '';
		position: absolute;
		left: -16px;
		top: 10%;
		height: 80%;
		width: 1px;
		background-color: #000000;
	}
}

.mto-count-border {
	border-bottom: 1px solid $borderTif;
}



.mto-table-library__box {
	@include adaptiveValue('padding-top', 0, 0);
	@include adaptiveValue('padding-left', 28, 16);
	@include adaptiveValue('padding-bottom', 6, 6);
	padding-top: rem(0);

	h3 {
		@include adaptiveValue('margin-bottom', 8, 6);
		line-height: 140%;
	}

	ul {
		@include adaptiveValue('padding-left', 32, 16);

		li {
			position: relative;

			&:before {
				content: '';
				position: absolute;
				@include adaptiveValue('width', 6, 3);
				@include adaptiveValue('height', 6, 3);
				background-color: $mainText;
				@include adaptiveValue('left', -16, -8);
				@include adaptiveValue('top', 12, 7);
				border-radius: 50%;

			}

			line-height: 160%;
		}
	}

	.mto-subtitle-library {
		margin-bottom: 0;
		padding-left: 0;
		@include adaptiveValue('margin-bottom', 8, 6);
	}

	h3 {


		@include adaptiveValue('font-size', 18, 12);

		span {
			font-weight: 700;
		}
	}
}

.mto-food-subtitle {
	@include adaptiveValue('margin-bottom', 32, 16);
	line-height: 140%;
}

.mto-first-list,
.mto-second-list {
	@include adaptiveValue('font-size', 18, 12);
	margin-bottom: rem(16);
}

.mto-last-list {
	li {
		a {
			border-bottom: 1px solid $mainText;
		}
	}
}

.box-content-accor-mto {
	// border: 1px solid red !important;
	// max-height: 5000px;
}

.mto-accor {
	transition: max-height .6s ease-in-out;

}

.mto-table {}
