.paid {}

.paid__container {
}

.paid__rows {
	h1 {

		@include adaptiveValue('font-size', 40, 26);
		@include adaptiveValue('margin-top', 104, 64);
		@include adaptiveValue('margin-bottom', 40, 24);
		font-weight: 700;
		line-height: 120%;
	}

	h2 {
		@include adaptiveValue('font-size', 18, 14);
		// @include adaptiveValue('margin-bottom', 400, 200);
		line-height: 140%;

	}
}

// @media (orientation: landscape) and (max-height: 500px) {
// 	.paid__rows {
// 		h2 {
// 			margin-bottom: 150px;
// 		}
// 	}
// }
.margin-bottom {
	// margin-bottom: 0px ;
	@include adaptiveValue("margin-bottom", 40, 24);
}
