@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================

$fontFamily: CenturyGothic;
$fontSize: rem(16); // где 14(px) - размер шрифта по умолчанию из макета


body {
}
.hide-imgs {
	img{
		display: none;
	}
	.leaders__main-description {

		background-image: none;
		// background-color: red;

	}

}
.gray-imgs {
	img {
		filter: grayscale(100%);
	}
	.leaders__main-description {
		position: relative;
	}
}
.gray-background {
	&::before {
		content: '';
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		position: absolute;
		background-image: url('../img/liceum.png');
		background-repeat: no-repeat;
		background-position: bottom;
		background-size: contain;

		background-position: bottom; // @include adaptiveValue('font-size', 18, 12);

		filter: grayscale(100%);
		width: 100%;
		height: 100%;
		border-radius: 20px;
	}
}

// Основные цвета
$mainColor: #25282B; // Цвет шрифта по умолчанию
$mainTif: #00b2b5;
$borderTif: #6CD3D3;
$phraseTif: #C9ECED;
$bgTif: #CBF0F0;
$itemTif: #DDF0F2;
$mainText: #25282B;
$pointText: #9696A0;
$textGrey: #A4A4AF;
$mainBg: #F5F6F9;


// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1440;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1110;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

body {
	background-color: $mainBg;
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}

	// Сайт загружен
	.loaded & {}
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	// Прижимаем footer
	>main {
		flex: 1 1 auto;
	}

	// Фикс для слайдеров
	>* {
		min-width: 0;
	}
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {

	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}

		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
}

@else {

	// По брейк-поинтам
	[class*="__container"] {
		margin: 0 auto;

		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		}

		@else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}

		@media (max-width: $pc) {
			max-width: rem(970);
		}

		@media (max-width: $tablet) {
			max-width: rem(750);
		}

		@media (max-width: $mobile) {
			max-width: none;

			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "crumbs";
@import "footer";

// Подключение стилей отдельных страниц
@import "team";
@import "paid";
@import "organization-info";
@import "financial-activities";
@import "main-info";
@import "documents";
@import "structure";
@import "education";
@import "education-standarts";
@import "translate-students";
@import "MTO";
@import "available";
@import "contacts";
@import "international";
@import "teachers";
@import "infrastructure";
.little-font {
 h1, h2, h3, h4, h5, h6, ul, li, a, span, div{
	font-size: 9px !important;
}
}
.large-font {
 h1, h2, h3, h4, h5, h6, ul, li, a, span, div{
	@include adaptiveValue("font-size", 24, 18);
	// letter-spacing: 2.7px;
	.organization-svg {
		display: none;
	}
	.organization__rows {
		grid-template-columns: repeat(2, 1fr);
	}
	.organization {

		&__main-title-box {
			@include adaptiveValue('margin-bottom', 16, 8);
			grid-column: 1/3;
		}
	}
	@media screen and (max-width: 680px) {
		.org-item {
			&__links-middle-screen {
				display: none;
			}
		}

		.links-three {
			display: block;
		}

		.organization__rows {
			grid-template-columns: 1fr;
		}

		.organization {


			&__main-title-box {

				grid-column: 1/2;
			}
		}
	}
}
}
.big-distance {
	h1, h2, h3, h4, h5, h6, ul, li, a, span, div {
		letter-spacing: 2.7px !important;
		.organization-svg {
			display: none;
		}
		.organization__rows {
			grid-template-columns: repeat(2, 1fr);
		}
		.organization {

			&__main-title-box {
				@include adaptiveValue('margin-bottom', 16, 8);
				grid-column: 1/3;
			}
		}
		@media screen and (max-width: 680px) {
			.org-item {
				&__links-middle-screen {
					display: none;
				}
			}

			.links-three {
				display: block;
			}

			.organization__rows {
				grid-template-columns: 1fr;
			}

			.organization {


				&__main-title-box {

					grid-column: 1/2;
				}
			}
		}
	}
}
.biggest-distance {
	h1, h2, h3, h4, h5, h6, ul, li, a, span, div {
		letter-spacing: 5.4px;
		@include adaptiveValue("letter-spacing", 5.4, 4.7);
		.organization-svg {
			display: none;
		}
		.organization__rows {
			grid-template-columns: repeat(2, 1fr);
		}
		.organization {

			&__main-title-box {
				@include adaptiveValue('margin-bottom', 16, 8);
				grid-column: 1/3;
			}
		}
		@media screen and (max-width: 680px) {
			.org-item {
				&__links-middle-screen {
					display: none;
				}
			}

			.links-three {
				display: block;
			}

			.organization__rows {
				grid-template-columns: 1fr;
			}

			.organization {


				&__main-title-box {

					grid-column: 1/2;
				}
			}
		}
	}
}
* {
	scrollbar-width: thin;
	scrollbar-color: #C9C8D3;
  }

  /* для Chrome/Edge/Safari */
  *::-webkit-scrollbar {
	height: 1px;
	width: 6px;
  }
  *::-webkit-scrollbar-track {
	background: #dfdee771;
  }
  *::-webkit-scrollbar-thumb {
	background-color: $borderTif;
	border-radius: 30px;
	border: 3px solid $borderTif;
  }
* {
	scroll-behavior: smooth;
	scroll-margin-top: 180px;

}
