.teachers-main__section {
	@include adaptiveValue('margin-top', 80, 64);
	@include adaptiveValue('margin-bottom', 80, 64);
	display: grid;
	grid-template-columns: 1fr .7fr 1fr;
	grid-auto-rows: .2fr 1fr;
	column-gap: 30px;
	height: 100%;
}

.teachers-main__name-title {
	grid-column: 1/3;
	grid-row: 1/2;
}

.teachers-main__name {
	@include adaptiveValue('font-size', 40, 26);
	@include adaptiveValue('margin-bottom', 24, 24);
	line-height: 120%;
	font-weight: 700;

}

.teachers-main__position {
	@include adaptiveValue('font-size', 20, 16);
	@include adaptiveValue('margin-bottom', 40, 40);
	color: $mainTif;
	line-height: 120%;
	font-weight: 700;


}

.teachers-main__phrase {
	@include adaptiveValue('font-size', 16, 14);
	@include adaptiveValue('padding-left', 104, 40);
	@include adaptiveValue('padding-top', 25, 9);
	@include adaptiveValue('padding-bottom', 24, 24);
	@include adaptiveValue('padding-right', 24, 24);
	grid-column: 1/3;
	grid-row: 2/3;
	background-color: $phraseTif;
	line-height: 140%;
	border-radius: 20px;
	position: relative;
}

.phrase-many-words {
	@include adaptiveValue('font-size', 16, 12);

}

.teachers-main__photo {


	img {
		width: 350px;
		height: 405px;
	}

	grid-column: 3/4;
	grid-row: 1/3;
}

@media screen and (max-width: 790px) {
	.teachers-main__section {

		grid-template-columns: 1fr .7fr 1fr;
		grid-auto-rows: .2fr .2fr;
	}

	.teachers-main__name-title {
		grid-column: 1/3;
		grid-row: 1/2;
	}

	.teachers-main__photo {

		grid-column: 3/4;
		grid-row: 1/2;
	}

	.teachers-main__phrase {
		@include adaptiveValue('margin-top', 24, 24);
		grid-column: 1/4;
		grid-row: 2/3;
	}


}


@media screen and (max-width: 665px) {
	.teachers-main__name-title {
		grid-column: 1/4;
		grid-row: 1/2;
	}

	.teachers-main__photo {
		img {
			width: 290px;
			height: 320px;
		}

		grid-column: 1/4;
		grid-row: 2/3;
	}

	.teachers-main__phrase {
		grid-column: 1/4;
		grid-row: 3/4;


	}

	.teachers-main__section {
		grid-template-rows: .2fr;
	}

}

.teachers__raising {
	&:not(:last-child) {

		border-bottom: 1px solid $borderTif;
	}
}

.teacher-item {
	@include adaptiveValue('padding-bottom', 26, 8);
	@include adaptiveValue('padding-top', 12, 8);
	display: grid;
	grid-auto-columns: .6fr 1fr;
	grid-auto-rows: repeat(5, 1fr);



}

.teachers__education {
	@include adaptiveValue("margin-bottom", 80, 64);
}
.teachers__other {
	@include adaptiveValue("margin-bottom", 80, 64);
}
.teachers__education-title-last {
	@include adaptiveValue('font-size', 24, 20);
	font-weight: 700;
	margin-bottom: rem(24);
	line-height: 120%;
}
.no-margin {
	margin-bottom: 0;
}

.teachers__education-title {
	@include adaptiveValue('font-size', 24, 20);
	margin-bottom: 24px;
	font-weight: 700;
	line-height: 120%;
	grid-column: 1/3;
}

.teachers-point {
	@include adaptiveValue('font-size', 18, 14);
	@include adaptiveValue('margin-right', 25, 25);
	margin-bottom: rem(8);
	font-weight: 700;
	line-height: 140%;
	color: $pointText;

}

.teachers-point-prop {
	@include adaptiveValue('font-size', 18, 14);
	margin-bottom: rem(8);
	line-height: 140%;
	display: flex;
	align-items: end;

}

.teachers__education-level,
.teachers__education-mater,
.teachers__education-faculty,
.teachers__education-specialization,
.teachers__education-qualification {
	grid-column: 1/2;
}



.teachers__cards-box {
	@include adaptiveValue("margin-bottom", 104, 64);
	margin: 0 auto;

	width: 100%;
	display: flex;
	flex-wrap: wrap;
	column-gap: 32px;

	&:not(:last-child) {
		justify-content: center;

	}
}
.margin-bottom-item {
	@include adaptiveValue("margin-bottom", 80, 64);
}
.leaders-mini-cards {
	display: flex;
	justify-content: start;
	&:not(:last-child) {
		justify-content: start;

	}
}
.teachers__card {
	@include adaptiveValue('width', 160, 130);
	margin-right: rem(15);
	// white-space: wrap;
	margin-left: rem(15);
	word-wrap: break-word;
	&:not(:last-child) {
		margin-bottom: rem(30);

	}

	img {
		@include adaptiveValue('width', 160, 130);
		@include adaptiveValue('height', 160, 130);
		margin-bottom: rem(8);
	}
}

.teachers__card-name {
	@include adaptiveValue("font-size", 18, 14);
	line-height: 140%;
	margin-bottom: rem(8);
	font-weight: 700;

}

.teachers__card-position {
	@include adaptiveValue("font-size", 16, 12);
	line-height: math.div(25, 18);

}

@media screen and (max-width: 350px) {
	.teachers__card {
		width: 39.5%;
	}
}

.self-teach-all {
	@include adaptiveValue("font-size", 18, 12);
	margin-left: rem(24);
	width: 90%;
}

.self-teach {
	display: flex;
	flex-direction: column;
	margin: 0;
	align-items: start;

}

.self-teach-span-1 {
	position: relative;

	&:before {
		content: '1.';
		position: absolute;
	}
}

.self-teach-span-2 {
	position: relative;

	&:before {
		content: '2.';
		position: absolute;
	}
}

.self-teach-span-3 {
	position: relative;

	&:before {
		content: '3.';
		position: absolute;
	}
}

.self-teach-span-4 {
	position: relative;

	&:before {
		content: '4.';
		position: absolute;
	}
}
.self-teach-span-5 {
	position: relative;

	&:before {
		content: '5.';
		position: absolute;
	}
}

.self-teach-span-1,
.self-teach-span-2,
.self-teach-span-3,
.self-teach-span-4,
.self-teach-span-5 {
	&:before {
		left: rem(-20);
	}
}

.teachers-point-prop {
	ul {

		li {
			@include adaptiveValue("margin-left", 28, 14);

			position: relative;

			&::before {
				content: '';
				@include adaptiveValue("width", 6, 4);
				@include adaptiveValue("height", 6, 4);
				@include adaptiveValue("left", -14, -10);
				position: absolute;
				background-color: $mainText;

				top: 8px;
				border-radius: 50%;
			}
		}
	}
}
.achievs-two-columns {
	display: flex;
	flex-direction: column;
}
.padding-bot {
	padding-right: rem(16);
	margin-right: 0;
	padding-bottom: rem(32);
}
.padding-top {
	margin-right: 0;
	padding-top: rem(24);
}
